{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_mynewsletter %}active{% endblock %}

{% block content %}
	
	<ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url 'mynewsletter' %}">{% trans 'Send a newsletter' %}</a>
        </li>
        <li>
            <a href="{% url 'newsletterlist' %}">{% trans 'List of newsletter sent' %}</a>
        </li>
    </ul>
	
    <h1>{% trans 'Send a newsletter' %}</h1>

    <form action="{% url 'sendnewsletter' %}" method="POST">
        {% if message %}
            <h2 class="label label-success nl_message">{{ message }}</h2>
        {% endif %}
        {% csrf_token %}
        <label for="subject">{% trans 'Subject' %}</label>
        <input name="subject" class="nl_subject" type="text" autofocus="autofocus" required="true">
        <br>
        <label for="newsletter">{% trans 'Message' %}</label>
        <textarea name="newsletter" class="nl_content" required="true"
                  wrap="hard"></textarea>
        <br>
        
        <!-- Criteria -->
        <table>
	        <thead>
	        	<tr>
	        		<th>{% trans 'Number of coupons used' %}:</th>
	        		<th>{% trans 'Number of reservations' %}:</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	<tr>
	        		<td>
	        			<select name="coupons">
	        				<option value="any" selected>Any</option>
				        	<option value="low">0-20</option>
				        	<option value="medium">21-40</option>
				        	<option value="high">&gt;40</option>
			        	</select>
			        </td>
			        <td>
			        	<select name="reservations">
			        		<option value="any" selected>Any</option>
			        		<option value="low">0-20</option>
			        		<option value="medium">21-40</option>
			        		<option value="high">&gt;40</option>
		        		</select>
			        </td>
	        	</tr>
	        </tbody>
        </table>
        
        <input class="btn btn-success" type="submit" value="Send newsletter">

    </form>

{% endblock %}
