{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}

{% block main_nav_customers %}active{% endblock %}

{% block content %}

    <h1>{% trans 'Customer Reservations' %}</h1>
    <h3 style="padding-left: 10px">{{ customer }}</h3>
    {% if object_list %}
        <table class="table">
            <thead>
            <tr>
                <th>
                    {% trans 'Service Name' %}
                </th>
                <th>
                    {% trans 'Showed up' %}
                </th>
                <th>
                    {% trans 'Employee' %}
                </th>
                <th>
                    {% trans 'Date' %}
                </th>
                <th>
                    {% trans 'Price' %}
                </th>
            </tr>
            </thead>
            <tbody>

            {% for reservation in object_list %}
                <tr>
                    <td data-title="{% trans 'Service Name' %}">
                        {{ reservation.service_name }}
                    </td>
                    <td data-title="{% trans 'Show up' %}">
                        <input type="checkbox" {% if reservation.show_up %}checked{% endif %}
                               style="position: relative; left: 30px; top: -5px"
                               id="{{ reservation.id }}">
                    </td>
                    <td data-title="{% trans 'Employee' %}">
                        {{ reservation.employee.name }}
                    </td>
                    <td data-title="{% trans 'Date' %}">
                        {{ reservation.date }}
                    </td>
                    <td data-title="{% trans 'Price' %}">
                        {{ reservation.service_price }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% trans 'No reservations to display.' %}
    {% endif %}


{% endblock %}

{% block javascript %}
    {{ block.super }}
    </script><script>
        (function () {
            var cb = $("input:checkbox");
            cb.change(function () {
                var check = '';
                if ($(this).is(":checked")) {
                    check = 'True';
                }
                else {
                    check = 'False';
                }
                $.get('/showup/', {'res_id': this.id, 'value': check});
            })

        })();
    </script>
    <script>
{% endblock %}
