{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_myservices %}active{% endblock %}

{% block content %}

	<h1>{% block content_title %}{% trans 'CSV Upload' %}{% endblock %}</h1>

	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}

		<input type="hidden" name="file" value="{{ file }}" />

		{{ form|as_bootstrap }}

		<div class="form-actions">
			<button class="btn btn-primary" type="submit" name="action">{% trans "Upload" %}</button>
			<a class="btn" href="{% url 'mycoupons' %}">{% trans "Cancel" %}</a>
		</div>
	</form>

{% endblock %}
