{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load workinghours %}

{% block main_nav_myworkinghours %}active{% endblock %}

{% block content %}
<style>
	input.error {
		background-color:#F2DEDE;
		border-color:#B94A48;
		color:#B94A48;
	};

</style>

    <h1>{% trans 'My Working Hours' %}</h1>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url 'myworkinghours' %}">{% trans 'Working Hours' %}</a>
        </li>
        <li>
            <a href="{% url 'myabsences' %}">{% trans 'Absences' %}</a>
        </li>
    </ul>

<form method="POST" action="{% url 'myworkinghours' %}">
	{% csrf_token %}
    <div id="no-more-tables">
		{% for err_msg in error_msg %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Error!</strong> {{err_msg}}
		</div>
		{% endfor %}
	
		<table class="table" style="min-width:300px">
			<thead>
				<th>
					{% trans 'Week days' %}
				</th>
				<th>
					{% trans 'Time' %}
				</th>
			</thead>
			<tbody id="data_ctrls">

				{% for key, value in days_of_week_dict_int.items %}
			
					<tr >
						<td class="clearfix" style="padding-left:10px">
							
							{{ value }}
						</td>
						
						<td class="clearfix" style="padding-left:10px">
							<div id="week_id_{{key}}" class="span12 week_times ">
							
									{% for value in working_hours_blocks|get_item:key %}

									<div class="edit-time-block row-fluid">
										<div class=" ">
											<div class="input-prepend t_ff" style="display:inline-block;">
												<span class="add-on"><i class="icon-time"></i></span>
												<input class="input-small time-field" style="width:170px" data-format="hh:mm" name="time_from_{{key}}" value="{{value.0|time:"H:i"}}" type="text" />
											</div>
											
											<div class="input-append t_ff" style="display:inline-block;">
												<input class="input-small time-field" style="width:170px" data-format="hh:mm" name="time_to_{{key}}" value="{{value.1|time:"H:i"}}" type="text" />
												<span class="add-on"><i class="icon-time"></i></span>
												
												<span class="add-on" style="border-color:white;background-color:white"></span>
												
												<a class="btn btn-danger remove_wblock"><i class="icon-remove"></i></a>
											</div>
										
											
											
										</div>
										<div class="error_container alert-error alert" style="display:none;width:250px;">
										
										</div>
									</div>
									
									{% endfor %}

									<a class="btn btn-default add_wblock" week_id="{{key}}"><i class="icon-plus"></i></a>
									<a class="btn btn-info clone_wblock" week_id="{{key}}"></i><i class="icon-file"></i>{% trans "Clone" %}</a>
							</div>
						</td>
					</tr>
				
				{% endfor %}
			</tbody>
		</table>

    </div>



    <div class="form-actions prep_save_erro">
        <button type="submit" value="save" name="action_type" id="save_btn" class="btn btn-primary">{% trans "Save" %}</button>
    </div>

	</form>

	<script type="plain/x-tmpl" id="time_block_template">
		<div class="edit-time-block row-fluid" id="XK_<%=seq_id%>">
			<div class=" ">
				<div class="input-append t_ff" style="display:inline-block;">
					<span class="add-on"><i class="icon-time"></i></span>
					<input class="input-small time-field" style="width:170px" data-format="hh:mm" name="time_from_<%=key%>" value="<%=from%>"  type="text" />
				</div>
				
				<div class="input-append t_ff" style="display:inline-block;">
					<input class="input-small time-field" style="width:170px" data-format="hh:mm" name="time_to_<%=key%>" value="<%=to%>" type="text" />
					<span class="add-on"><i class="icon-time"></i></span>
					
					<span class="add-on" style="border-color:white;background-color:white"></span>
					
					<a class="btn btn-danger remove_wblock"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="error_container alert-error alert" style="display:none;width:250px;"></div>
		</div>
	</script>

	<script type="plain/x-tmpl" id="error_msg_template">
		<p class="text-error">{% trans "Please enter valid time format Hours:Minutes" %}</p>
	</script>

	<script type="plain/x-tmpl" id="error_msg_template_gt">
		<p class="text-error"><strong>{% trans "Time block is invalid" %}</strong>: {% trans "First value is bigger than second!" %}</p>
	</script>

	<script type="plain/x-tmpl" id="error_msg_template_eq">
		<p class="text-error"><strong>{% trans "Time block is invalid" %}</strong>: {% trans "Time block span is zero minutes!" %}</p>
	</script>

	<script type="plain/x-tmpl" id="error_msg_template_overlap">
		<p class="text-error"><strong>{% trans "Time block is invalid" %}</strong>: {% trans "Time block is overlaping with another!" %}</p>
	</script>

	<script type="plain/x-tmpl" id="error_msg_template_page_errors">
		<div class="alert alert-error page_save_error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{% trans "Can not save! Page contains errors!"  %}</strong>
		</div>
	
		
	</script>

{% endblock %}


{% block extra_body %}
    <script src="/static/js/myworkinghours.js"></script>
{% endblock %}