{% extends 'main.html' %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'About cookies' %}</h1>

    <p>{% blocktrans %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada lorem metus, vel condimentum ipsum
        lobortis et. In hac habitasse platea dictumst. Nunc hendrerit fermentum gravida. Aenean imperdiet in justo in
        rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer
        ultricies rhoncus congue. Fusce luctus velit tortor, accumsan dignissim sapien interdum non.
        Donec blandit ante a vestibulum viverra. In lorem augue, tincidunt ac suscipit ac, lacinia sed enim. Morbi
        adipiscing convallis purus non dignissim. Integer vel mi vitae ligula elementum rhoncus. Suspendisse potenti.
        Aliquam ultrices porttitor libero vel dignissim. Nunc sed varius libero. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nam facilisis tempor euismod. Morbi in turpis neque.
        Maecenas vitae aliquam nulla. Donec sed malesuada sapien, at sollicitudin enim. In et libero hendrerit, commodo
        nunc nec, vestibulum ipsum.
        Sed eros enim, vehicula pulvinar ornare ultrices, egestas id leo. Curabitur laoreet erat elit, nec vestibulum
        erat consequat ac. Nullam vel elit sem. Ut metus magna, laoreet at rutrum vitae, consectetur ut lorem. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed nulla in dolor consectetur blandit vitae id
        turpis. Quisque justo risus, eleifend non quam nec, congue varius arcu. Morbi quis feugiat nulla, a euismod
        elit. Maecenas vitae lacus nisl. Vestibulum eget sapien ut est sodales tempus.
        Donec sodales orci sed massa feugiat, eu iaculis felis placerat. Suspendisse vehicula imperdiet iaculis. Integer
        at ante eu eros tincidunt porttitor quis eget tortor. Suspendisse vel convallis magna. Nulla facilisi. Etiam
        venenatis urna eu nisi dictum, sollicitudin varius magna consectetur. Donec vel justo scelerisque, vehicula nibh
        ac, placerat diam. Nunc convallis, purus at imperdiet ultrices, orci lectus aliquet purus, at sagittis turpis
        odio et orci. Donec sollicitudin lorem justo, sed pulvinar metus tincidunt eget. Donec a pulvinar nisi. Fusce
        malesuada, magna quis tincidunt pulvinar, libero lectus aliquam nibh, nec accumsan libero diam a est.
        Nunc iaculis semper tristique. Sed blandit eros a elementum egestas. Nullam accumsan facilisis commodo. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac vestibulum lorem. Aenean at metus a quam condimentum
        tincidunt. Etiam imperdiet arcu eget tincidunt venenatis. Donec a ante suscipit, porttitor est nec, ultrices
        ante. Nullam volutpat lacinia imperdiet. Nam lacinia dui luctus, accumsan nisi a, ullamcorper massa. Donec quis
        orci eros. Nullam blandit eu mauris et aliquet.
        {% endblocktrans %}
    </p>

{% endblock %}