{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_myemployees %}active{% endblock %}

{% block content %}

    <h1>{% block content_title %}{% trans 'Edit Employee' %}{% endblock %}</h1>

    {% block content_intro %}{% endblock %}

    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row">
            <div class="span5">
                {% if form.non_field_errors %}
                    {% include "bootstrap_toolkit/non_field_errors.html" %}
                {% endif %}
                {{ form.name|as_bootstrap }}
                {{ form.surname|as_bootstrap }}
                {{ form.phone|as_bootstrap }}
                {{ form.img|as_bootstrap }}
            </div>
            <div class="span7">
                {{ form.description|as_bootstrap }}
            </div>
        </div>
        {% if form_w %}
            <h2>{% trans "Working hours" %}</h2>
            <div class="row">
                <div class="span4">
                    {% if form_w.non_field_errors %}
                        {% include "bootstrap_toolkit/non_field_errors.html" %}
                    {% endif %}
                    {% for field in form_w.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {{ form_w.time_from|as_bootstrap }}
                    {{ form_w.time_to|as_bootstrap }}
                </div>
                <div class="span8">
                    {{ form_w.week_days|as_bootstrap }}
                </div>
            </div>
        {% endif %}

        {% if form_s %}
            <h2>{% trans "Assign to service" %}</h2>
            <div class="row">
                <div class="span4 service_checkbox" style="list-style-type: none">
                    {{ form_s.services }}
                </div>
            </div>
        {% endif %}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action">{% trans "Save" %}</button>
            <a class="btn" href="{% url 'myemployees' %}">{% trans "Cancel" %}</a>
        </div>
    </form>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    </script><script>
    (function() {
        $('.time-field').parent('').datetimepicker({pickDate: false, pickSeconds: false, language:
            '{{ request.LANGUAGE_CODE }}'});
    })();
    </script><script>
{% endblock %}
