{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_myemployees %}active{% endblock %}

{% block content %}

    <h1>{% trans 'My Employees' %}</h1>

    <div class="form-actions cleanForm">
        <a class="btn btn-primary" href="{% url 'addemployee' %}">{% trans "Add employee" %}</a>
    </div>

    {% if employees %}
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    <th>
                        {% trans 'Surname' %}
                    </th>
                    <th>
                        {% trans 'Phone' %}
                    </th>
                    <th>
                        {% trans 'Actions' %}
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for employee in employees %}
                    <tr>
                        <td data-title="{% trans 'Name' %}">
                            {{ employee.name }}
                        </td>
                        <td data-title="{% trans 'Surname' %}">
                            {{ employee.surname }}
                        </td>
                        <td data-title="{% trans 'Phone' %}">
                            {{ employee.phone }}
                        </td>
                        <td data-title="{% trans 'Actions' %}">
                            <a class="btn" href={% url 'editemployee' employee.id %}>{% trans "Edit" %}</a>

                            <form method="POST" action="{% url 'manageemployee' %}" style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="service" value="{{ employee.id }}"/>
                                <button class="btn btn-danger" type="submit" name="action"
                                        value="delete">{% trans "Remove" %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% trans 'You currently have no employees to display.' %}
    {% endif %}


{% endblock %}