{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_reservations %}active{% endblock %}

{% block content %}

    <h1>{% trans 'My Reservations' %}</h1>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url 'myreservations' %}">{% trans 'Reservations' %}</a>
        </li>
        <li>
            <a href="{% url 'reservationlist' %}">{% trans 'Reservation list' %}</a>
        </li>
        {% if res_confirm %}
            <li>
                <a href="{% url 'myunconfirmedreservations' %}">{% trans 'Unconfirmed reservations' %}</a>
            </li>
        {% endif %}
    </ul>
    <div class="row">
        {% if form_employee.employees.field.choices.queryset.all|length > 0 %}
            <div class="span4">
                {{ form_employee|as_bootstrap }}
            </div>
        {% endif %}
        {% if form_service.services.field.choices.queryset.all|length > 0 %}
            <div class="span4">
                {{ form_service|as_bootstrap }}
            </div>
        {% endif %}
    </div>
    {% if user.service_provider %}
        <div id='calendar'></div>
    {% endif %}

    <a href="{% url 'gcal' %}">{% trans "Google Calendar sync settings" %}</a>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    </script><script>
        {% if minTime and maxTime %}
            (function () {
                var cal = $('#calendar');
                var defEvents = {
                    url: '{% url 'reservations_calendar' %}',
                    type: 'GET',
                    data: {
                        'service_provider_id': '{{ user.service_provider.id }}'
                    }
                };
                $('#id_employees').change(function () {
                    var id = $(this).val();
                    var s_id = $('#id_services').val();
                    getIds('/util.getservices',
                            {
                                'employee_id': id
                            }, id, '#id_services option');
                    var events = {
                        url: '/timetable/',
                        type: 'GET',
                        data: {
                            'service_provider_id': '{{ user.service_provider.id }}',
                            'employee_id': id,
                            'service_id': s_id,
                            'past': 'true'
                        }
                    };
                    if (id != '') {
                        cal.fullCalendar('removeEventSource', defEvents);
                        cal.fullCalendar('removeEventSource', events);
                        cal.fullCalendar('addEventSource', events);
                    }
                    else {
                        if (s_id != '') {
                            cal.fullCalendar('removeEventSource', defEvents);
                            cal.fullCalendar('removeEventSource', events);
                            cal.fullCalendar('addEventSource', events);
                        }
                        else {
                            cal.fullCalendar('removeEventSource', events);
                            cal.fullCalendar('addEventSource', defEvents);
                        }

                    }
                });

                $('#id_services').change(function () {
                    var id = $(this).val();
                    var emp_id = $('#id_employees').val();
                    getIds('/util.getemp',
                            {
                                'service_id': id
                            }, id, '#id_employees option');
                    var events = {
                        url: '/timetable/',
                        type: 'GET',
                        data: {
                            'service_provider_id': '{{ user.service_provider.id }}',
                            'service_id': id,
                            'employee_id': emp_id,
                            'past': 'true'
                        }
                    };
                    if (id != '') {
                        cal.fullCalendar('removeEventSource', defEvents);
                        cal.fullCalendar('removeEventSource', events);
                        cal.fullCalendar('addEventSource', events);
                    }
                    else {
                        if (emp_id != '') {
                            cal.fullCalendar('removeEventSource', defEvents);
                            cal.fullCalendar('removeEventSource', events);
                            cal.fullCalendar('addEventSource', events);
                        }
                        else {
                            cal.fullCalendar('removeEventSource', events);
                            cal.fullCalendar('addEventSource', defEvents);
                        }
                    }
                });

                function getIds(url, params, id, selector) {
                    $.get(url, params, function (data) {
                                var d = $.parseJSON(data);
                                $(selector).map(function () {
                                    if ($(this).val() != '') {
                                        var cur = parseInt($(this).val());
                                        if (d.indexOf(cur) < 0 && id != '') {
                                            $(this).css('background-color', '#DDDDDD');
                                        }
                                        else {
                                            $(this).css('background-color', '');
                                        }
                                    }
                                });
                            }
                    );
                }

                var date = new Date();

                cal.fullCalendar({
                    header: {
                        left: 'prev,next, today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },

                    /* sets the current view */
                    //defaultView: (document.width >= 800) ? 'agendaWeek' : 'agendaDay',
                    defaultView: 'agendaWeek',

                    /* sets the specific date */
                    year: date.getFullYear(),
                    month: date.getMonth(),
                    date: date.getDate(),

                    minTime: '{{ minTime|date:"H:i" }}',
                    maxTime: '{{ maxTime|time:"H:i" }}',

                    editable: false,
                    allDayDefault: false,
                    allDaySlot: false,
                    //height: 100000,
                    slotMinutes: 15,

                    /* translation */
                    buttonText: {
                        today: '{% trans 'today' %}',
                        month: '{% trans 'month' %}',
                        week: '{% trans 'week' %}',
                        day: '{% trans 'day' %}'
                    },
                    monthNames: ['{% trans 'January' %}', '{% trans 'February' %}', '{% trans 'March' %}',
                        '{% trans 'April' %}', '{% trans 'May' %}', '{% trans 'June' %}', '{% trans 'July' %}',
                        '{% trans 'August' %}', '{% trans 'September' %}', '{% trans 'October' %}', '{% trans 'November' %}',
                        '{% trans 'December' %}'],
                    monthNamesSort: ['{% trans 'Jan' %}', '{% trans 'Feb' %}', '{% trans 'Mar' %}', '{% trans 'Apr' %}',
                        '{% trans 'May' %}', '{% trans 'Jun' %}', '{% trans 'Jul' %}', '{% trans 'Aug' %}', '{% trans 'Sep' %}',
                        '{% trans 'Oct' %}', '{% trans 'Nov' %}', '{% trans 'Dec' %}'],
                    dayNames: ['{% trans 'Sunday' %}', '{% trans 'Monday' %}', '{% trans 'Tuesday' %}', '{% trans 'Wednesday' %}',
                        '{% trans 'Thursday' %}', '{% trans 'Friday' %}', '{% trans 'Saturday' %}'],
                    dayNamesShort: ['{% trans 'Sun' %}', '{% trans 'Mon' %}', '{% trans 'Tue' %}', '{% trans 'Wed' %}',
                        '{% trans 'Thu' %}', '{% trans 'Fri' %}', '{% trans 'Sat' %}'],
                    weekNumberTitle: '{% trans 'W' %}',
                    allDayText: '{% trans 'all-day' %}',
                    columnFormat: {
                        month: 'ddd',
                        week: 'ddd d.M.',
                        day: 'dddd d.M.'
                    },
                    firstDay: 1,
                    axisFormat: 'HH:mm',
                    timeFormat: {
                        agenda: 'H:mm{ - H:mm}'
                    },

                    /* events data */
                    events: {
                        url: '{% url 'reservations_calendar' %}',
                        type: 'GET',
                        data: {
                            'service_provider_id': '{{ user.service_provider_id }}'
                        }
                    }
                });

                $('#calendar-refresh').click(function () {
                    cal.fullCalendar('refetchEvents');
                });
            })();
            </script>
            <script>
        {% endif %}
{% endblock %}
