{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load banana_tags %}

{% block main_nav_reservations %}active{% endblock %}

{% block content %}

    <h1>{% trans 'Reservation list' %}</h1>

    <ul class="nav nav-tabs">
        <li>
            <a href="{% url 'myreservations' %}">{% trans 'Reservations' %}</a>
        </li>
        <li class="active">
            <a href="{% url 'reservationlist' %}">{% trans 'Reservation list' %}</a>
        </li>
        {% if res_confirm %}
            <li>
                <a href="{% url 'myunconfirmedreservations' %}">{% trans 'Unconfirmed reservations' %}</a>
            </li>
        {% endif %}
    </ul>


    {% if object_list %}
    	<ul class="nav nav-pills">
            <li class="active"><a href="?sort_by=date&search_by={{ search_by }}">
                {% trans 'Sort by date' %}</a>
            </li>
            <li class="active"><a href="?sort_by=customer&search_by={{ search_by }}">
                {% trans 'Sort by customer' %}</a>
            </li>
            <li class="active"><a href="?sort_by=service&search_by={{ search_by }}">
                {% trans 'Sort by service' %}</a>
            </li>
            <li class="active"><a href="?sort_by=employee&search_by={{ search_by }}">
                {% trans 'Sort by employee' %}</a>
            </li>
        </ul>
        <form method="GET" action="#">
            <input type="text" name="search_by" id="search_by" value="{{ search_by }}">
            <button class="btn" type="submit"
                    style="position: relative;bottom: 6px; left: 12px">{% trans "Search" %}</button>
        </form>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        {% trans 'Service' %}
                    </th>
                    <th>
                        {% trans 'Customer' %}
                    </th>
                    <th>
                        {% trans 'Date' %}
                    </th>
                    <th>
                        {% trans 'Time' %}
                    </th>
                    {% if res_confirm %}
                        <th>
                            {% trans 'Confirmed' %}
                        </th>
                        <th>
                            {% trans 'Denied' %}
                        </th>
                    {% endif %}
                    <th>
                        {% trans 'Employee' %}
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for reservation in object_list %}
                    <tr>
                        <td data-title="{% trans 'Service' %}">
                            {{ reservation.service_name }}
                        </td>
                        <td data-title="{% trans 'Customer' %}">
                            {{ reservation.user_fullname }}
                        </td>
                        <td data-title="{% trans 'Date' %}">
                            {{ reservation.date }}
                        </td>
                        <td data-title="{% trans 'Time' %}">
                            {{ reservation.time }}
                        </td>
                        {% if res_confirm %}
                            <td data-title="{% trans 'Confirmed' %}">
                                {{ reservation.is_confirmed }}
                            </td>
                            <td data-title="{% trans 'Denied' %}">
                                {{ reservation.is_deny }}
                            </td>
                        {% endif %}
                        <td data-title="{% trans 'Employee' %}">
                            {{ reservation.employee }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if search_by %}
            <form method="GET" action="#">
            <input type="text" name="search_by" id="search_by" value="{{ search_by }}">
            <button class="btn" type="submit"
                    style="position: relative;bottom: 6px; left: 12px">{% trans "Search" %}</button>
            </form>
            {% trans 'This query produced no results.' %}
        {% else %}
            {% trans 'You currently have no customers to display.' %}
        {% endif %}

    {% endif %}


{% endblock %}


